/basic-vector-space-model/documents
/basic-vector-space-model/inverted-index
/basic-vector-space-model/reverse-vocabulary
/basic-vector-space-model/vocabulary
/improvement-1/documents
/improvement-1/inverted-index
/improvement-1/reverse-vocabulary
/improvement-1/vocabulary
